In [1]:
import psycopg2

/usr/local/lib/python3.6/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [10]:
def get_Redshift_connection():
    host = ""
    redshift_user = ""
    redshift_pass = ""
    port = 5439
    dbname = "dev"
    conn = psycopg2.connect("dbname={dbname} user={user} host={host} password={password} port={port}".format(
        dbname=dbname,
        user=redshift_user,
        password=redshift_pass,
        host=host,
        port=port
    ))
    conn.set_session(readonly=True, autocommit=True)
    return conn

In [12]:
conn = get_Redshift_connection()
cur = conn.cursor()

sql = "SELECT * FROM raw_data.user_session_channel LIMIT 10;"
cur.execute(sql)
rows = cur.fetchall()

In [13]:
for r in rows:
  print(r)

(184, 'c41dd99a69df04044aa4e33ece9c9249', 'Naver')
(80, 'fdc0eb412a84fa549afe68373d9087e9', 'Organic')
(251, '0a54b19a13b6712dc04d1b49215423d8', 'Facebook')
(264, 'a914ecef9c12ffdb9bede64bb703d877', 'Google')
(744, '05ae14d7ae387b93370d142d82220f1b', 'Facebook')
(229, 'eddeb82df22554fa67c641e3f8a25566', 'Google')
(265, '4c4ea5258ef3fb3fb1fc48fee9b4408c', 'Naver')
(80, '8ae1da0fe37c98412768453f82490da2', 'Organic')
(45, '60131a2a3f223dc8f4753bcc5771660c', 'Youtube')
(198, '90f4760fcc9b69c13da7368c5c2917f3', 'Facebook')

In [5]:
import pandas.io.sql as sqlio

In [14]:
df = sqlio.read_sql_query(sql,conn)

In [ ]:
df.head()

   userid                         sessionid   channel
0     184  c41dd99a69df04044aa4e33ece9c9249     Naver
1      80  fdc0eb412a84fa549afe68373d9087e9   Organic
2     251  0a54b19a13b6712dc04d1b49215423d8  Facebook
3     264  a914ecef9c12ffdb9bede64bb703d877    Google
4     744  05ae14d7ae387b93370d142d82220f1b  Facebook