In [1]:
import sqlalchemy

# 자신의 환경에 맞게 업데이트
user = 'gafield8785'
password = 'Gafield87851!'

sql_conn_str = 'postgresql://{user}:{password}@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev'.format(
    user=user,
    password=password
)

sqlalchemy.create_engine(sql_conn_str)

%load_ext sql

# ID와 PW를 자신의 환경에 맞게 수정
%sql postgresql://gafield8785:Gafield87851!@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev

/usr/local/lib/python3.6/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

'Connected: gafield8785@dev'

## Assignment 1번 강의 리뷰
## INSERT INTO VS COPY

- INSERT INTO 가 COPY보다 속도가 빠르다. 
- 형을 직접 변환하고자 할때는 INSERT INTO가 CTAS(create table as select)보다 낫다

## Type Cast and Conversion
- Date, Truncate
- Date_trunc
- Extract or Date_part

## Type Casting

- cast or :: operator
- category::int or cast(category as int)

In [5]:
## extract로 월 추출
%%sql 

select distinct(extract(Month from ts)) from raw_data.session_timestamp order by date_part desc;

 * postgresql://gafield8785:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
7 rows affected.

[(11,), (10,), (9,), (8,), (7,), (6,), (5,)]

In [14]:
## 가장 세션이 많이 일어난 요일 추출(0: 일요일 ... 6: 토요일)
%%sql 

select extract(Dow from ts) as day, count(extract(Dow from ts)) from raw_data.session_timestamp group by 1 order by 2 desc;

 * postgresql://gafield8785:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
7 rows affected.

[(5, 15091),
 (3, 14999),
 (4, 14901),
 (2, 14762),
 (1, 14625),
 (6, 14068),
 (0, 13074)]

In [17]:
## 가장 세션이 많이 생성된 시간대 추출
%%sql 

select extract(hour from ts) as hour, count(extract(hour from ts)) from raw_data.session_timestamp group by 1 order by 2 desc limit 6;

 * postgresql://gafield8785:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
6 rows affected.

[(15, 15339), (16, 14140), (14, 13417), (17, 10698), (13, 9035), (18, 7469)]

## JOIN